{% extends 'imagebazarclone/base.html' %}
{% load static %}

<style>
    .list-group-item.active{background-color: cornflowerblue;}
</style>

{% block data %}

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-2">

            <ul class="list-group">
                <li class="list-group-item active">Categories</li>
                {% for c in Category %}

                <li class="list-group-item">{{c.title}}</li>
                
                {% endfor %}
                
              </ul>

        </div>

        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-columns">
                        {% for i in images %}
                            <div class="card">
                                <img src="{{i.image.url}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5 class="card-title">{{i.title}}</h5>
                                <p class="card-text">{{i.description}}</p>
                                <a href="#" class="btn btn-primary">View</a>
                                </div>
                            </div>                                             
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}